apiVersion: sparkoperator.k8s.io/v1beta2
kind: SparkApplication
metadata:
  name: spark-kafka-consumer
  namespace: default
spec:
  type: Python
  mode: cluster
  sparkVersion: "3.3.1"

  image: "doyoomii/spark-k8s:latest"
  imagePullPolicy: Always

  mainApplicationFile: "local:///opt/spark/app/user_activity_streaming.py"

  sparkConf:
    "spark.kubernetes.container.image.pullPolicy": "Always"

  driver:
    cores: 1
    memory: "1g"
    serviceAccount: spark
    labels:
      version: "3.3.1"

  executor:
    cores: 1
    memory: "2g"
    instances: 2
    labels:
      version: "3.3.1"

